.week-product {
    position: relative;
}

.week-product__title {
  color: #63d1bb;
  position: absolute;

  font-family: 'Open Sans Bold';
  font-size: 17px;
  line-height: 20px;

  text-transform: uppercase;
}